

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.90)),
    url(../images/pexels-pixabay-76969.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    width: 100%;
}


#map { 
    height: 180px; 
    border-radius: 20px;
}


.container {
    max-width: 60%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heroTitle {
    font-size: 56px;
}
.heroDescription {
    font-size: 20px;
}


.listContainer {
    opacity: 0;

    max-width: 80%;
}
.listContainer.animation {
    transition: all 0.5s ease-in-out;
    opacity: 100%;
}

.list-group-item {
    transition: all 0.3s ease-in-out;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.03);
}


input {
    width: 100%;
}
.flex-fill {
    flex: 1 !important;
}