* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #242A32;
}


.link {
	text-decoration: none;
}
/*.listItem {
	display: inline-block;
}
.listItem:last-child {
	margin-right: 0;
}*/

.centerAlignment {
    margin-right: auto;
    margin-left: auto;
}
.textCenter {
    text-align: center;
}
.flex {
    display: flex;
}
.pos-relative {
    position: relative;
}
.pos-absolute {
    position: absolute;
}


::placeholder {
    color: #67686D;
}


/*BOTTOM MENU*/
.bottom-menu {
    border-top: 1.5px solid #0296E5;
    background-color: #242A32; 

    height: 63px; 
    width: 100%;

    position: fixed; 
    bottom: 0; 
    left: 0; 

    flex-direction: row;
    /*flex-grow: 1; SERVE?*/
    justify-content: space-evenly;
    align-items: center;
}
.button-menu-link {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.button-menu-title {
    font-size: 14px;
    color: #67686D;
}

.button-menu-title.active,
.material-icons.active {
    color: #0296E5;
}


/*LOGIN OR NOT FUNCTION*/
.login-icon.disactive {
    display: none !important; 
}
.profile-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: none;
}


/*HEADER SEARCH AND WATCHLIST*/
.header {
    /*position: fixed;
    top: 0;
    left: 0;

    height: 35px;
    max-width: 100%;*/
    margin-top: 25px;

    flex-direction: row;
    
    color: #ECECEC;
}
.header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    /*margin-left: calc(100% - 50px);*/
}